/**
    Font inladen
*/
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
    Algemene dingen
*/


body {
    font-family: IM Fell French Canon Pro, Serif;
    margin: 3rem;
    font-size: 1.8rem;
}

p {
    margin-top: 2em;
}

.download a{
    font-weight: bold;
}

a {
    color: inherit;
}

.background {
    background-color: #3d3d3d;
    color: #ededed;
    font-size: 2rem;
}

section {
    max-width: 40rem;
    line-height: 1.2;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.boos {
    font-weight: bold;
    color: crimson;
    /*display: table;*/
    clear: both;
    float: left;
    cursor:pointer;
    animation: shake 100s ease-in-out infinite;
}


.bron {
    font-size: 1rem !important;
}

/**
    Snelheid schudden
*/

.shake-slow {
    animation: shake 5s ease-in-out infinite;
}

.shake-fast {
    animation: shake 1s ease-in-out infinite;
    font-size: 3.2em;
}

/*
    Schudden
*/

@-webkit-keyframes shake {
    2% {
        -webkit-transform: translate(0px, 4px) rotate(-0.5deg);
        transform: translate(0px, 4px) rotate(-0.5deg);
    }
    4% {
        -webkit-transform: translate(-3px, 9px) rotate(-0.5deg);
        transform: translate(-3px, 9px) rotate(-0.5deg);
    }
    6% {
        -webkit-transform: translate(4px, 10px) rotate(-0.5deg);
        transform: translate(4px, 10px) rotate(-0.5deg);
    }
    8% {
        -webkit-transform: translate(0px, -2px) rotate(0.5deg);
        transform: translate(0px, -2px) rotate(0.5deg);
    }
    10% {
        -webkit-transform: translate(9px, -9px) rotate(1.5deg);
        transform: translate(9px, -9px) rotate(1.5deg);
    }
    12% {
        -webkit-transform: translate(-9px, 9px) rotate(1.5deg);
        transform: translate(-9px, 9px) rotate(1.5deg);
    }
    14% {
        -webkit-transform: translate(10px, -1px) rotate(-0.5deg);
        transform: translate(10px, -1px) rotate(-0.5deg);
    }
    16% {
        -webkit-transform: translate(7px, -1px) rotate(0.5deg);
        transform: translate(7px, -1px) rotate(0.5deg);
    }
    18% {
        -webkit-transform: translate(-8px, 8px) rotate(1.5deg);
        transform: translate(-8px, 8px) rotate(1.5deg);
    }
    20% {
        -webkit-transform: translate(1px, -9px) rotate(0.5deg);
        transform: translate(1px, -9px) rotate(0.5deg);
    }
    22% {
        -webkit-transform: translate(7px, -6px) rotate(0.5deg);
        transform: translate(7px, -6px) rotate(0.5deg);
    }
    24% {
        -webkit-transform: translate(-8px, -4px) rotate(-1.5deg);
        transform: translate(-8px, -4px) rotate(-1.5deg);
    }
    26% {
        -webkit-transform: translate(-9px, 5px) rotate(-1.5deg);
        transform: translate(-9px, 5px) rotate(-1.5deg);
    }
    28% {
        -webkit-transform: translate(7px, 3px) rotate(-1.5deg);
        transform: translate(7px, 3px) rotate(-1.5deg);
    }
    30% {
        -webkit-transform: translate(9px, 3px) rotate(2.5deg);
        transform: translate(9px, 3px) rotate(2.5deg);
    }
    32% {
        -webkit-transform: translate(2px, -6px) rotate(-1.5deg);
        transform: translate(2px, -6px) rotate(-1.5deg);
    }
    34% {
        -webkit-transform: translate(10px, -7px) rotate(2.5deg);
        transform: translate(10px, -7px) rotate(2.5deg);
    }
    36% {
        -webkit-transform: translate(-2px, 10px) rotate(-2.5deg);
        transform: translate(-2px, 10px) rotate(-2.5deg);
    }
    38% {
        -webkit-transform: translate(-6px, -8px) rotate(-1.5deg);
        transform: translate(-6px, -8px) rotate(-1.5deg);
    }
    40% {
        -webkit-transform: translate(1px, 0px) rotate(-2.5deg);
        transform: translate(1px, 0px) rotate(-2.5deg);
    }
    42% {
        -webkit-transform: translate(10px, 8px) rotate(3.5deg);
        transform: translate(10px, 8px) rotate(3.5deg);
    }
    44% {
        -webkit-transform: translate(4px, 2px) rotate(2.5deg);
        transform: translate(4px, 2px) rotate(2.5deg);
    }
    46% {
        -webkit-transform: translate(10px, -2px) rotate(-1.5deg);
        transform: translate(10px, -2px) rotate(-1.5deg);
    }
    48% {
        -webkit-transform: translate(10px, 0px) rotate(-2.5deg);
        transform: translate(10px, 0px) rotate(-2.5deg);
    }
    50% {
        -webkit-transform: translate(-2px, 5px) rotate(-0.5deg);
        transform: translate(-2px, 5px) rotate(-0.5deg);
    }
    52% {
        -webkit-transform: translate(4px, 1px) rotate(3.5deg);
        transform: translate(4px, 1px) rotate(3.5deg);
    }
    54% {
        -webkit-transform: translate(-8px, -5px) rotate(2.5deg);
        transform: translate(-8px, -5px) rotate(2.5deg);
    }
    56% {
        -webkit-transform: translate(8px, -8px) rotate(2.5deg);
        transform: translate(8px, -8px) rotate(2.5deg);
    }
    58% {
        -webkit-transform: translate(-3px, -6px) rotate(1.5deg);
        transform: translate(-3px, -6px) rotate(1.5deg);
    }
    60% {
        -webkit-transform: translate(-3px, -5px) rotate(0.5deg);
        transform: translate(-3px, -5px) rotate(0.5deg);
    }
    62% {
        -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
        transform: translate(-1px, 0px) rotate(-0.5deg);
    }
    64% {
        -webkit-transform: translate(2px, 10px) rotate(3.5deg);
        transform: translate(2px, 10px) rotate(3.5deg);
    }
    66% {
        -webkit-transform: translate(-4px, -1px) rotate(-0.5deg);
        transform: translate(-4px, -1px) rotate(-0.5deg);
    }
    68% {
        -webkit-transform: translate(8px, -5px) rotate(1.5deg);
        transform: translate(8px, -5px) rotate(1.5deg);
    }
    70% {
        -webkit-transform: translate(-3px, 2px) rotate(-1.5deg);
        transform: translate(-3px, 2px) rotate(-1.5deg);
    }
    72% {
        -webkit-transform: translate(9px, -3px) rotate(-0.5deg);
        transform: translate(9px, -3px) rotate(-0.5deg);
    }
    74% {
        -webkit-transform: translate(-2px, 6px) rotate(1.5deg);
        transform: translate(-2px, 6px) rotate(1.5deg);
    }
    76% {
        -webkit-transform: translate(-7px, -8px) rotate(-1.5deg);
        transform: translate(-7px, -8px) rotate(-1.5deg);
    }
    78% {
        -webkit-transform: translate(7px, -4px) rotate(0.5deg);
        transform: translate(7px, -4px) rotate(0.5deg);
    }
    80% {
        -webkit-transform: translate(-4px, -5px) rotate(-1.5deg);
        transform: translate(-4px, -5px) rotate(-1.5deg);
    }
    82% {
        -webkit-transform: translate(8px, 6px) rotate(3.5deg);
        transform: translate(8px, 6px) rotate(3.5deg);
    }
    84% {
        -webkit-transform: translate(0px, -7px) rotate(-1.5deg);
        transform: translate(0px, -7px) rotate(-1.5deg);
    }
    86% {
        -webkit-transform: translate(0px, 1px) rotate(3.5deg);
        transform: translate(0px, 1px) rotate(3.5deg);
    }
    88% {
        -webkit-transform: translate(-6px, -3px) rotate(2.5deg);
        transform: translate(-6px, -3px) rotate(2.5deg);
    }
    90% {
        -webkit-transform: translate(1px, 3px) rotate(-0.5deg);
        transform: translate(1px, 3px) rotate(-0.5deg);
    }
    92% {
        -webkit-transform: translate(-9px, -4px) rotate(-2.5deg);
        transform: translate(-9px, -4px) rotate(-2.5deg);
    }
    94% {
        -webkit-transform: translate(-7px, -6px) rotate(2.5deg);
        transform: translate(-7px, -6px) rotate(2.5deg);
    }
    96% {
        -webkit-transform: translate(5px, -3px) rotate(-1.5deg);
        transform: translate(5px, -3px) rotate(-1.5deg);
    }
    98% {
        -webkit-transform: translate(8px, 4px) rotate(0.5deg);
        transform: translate(8px, 4px) rotate(0.5deg);
    }
    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0deg);
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes shake {
    2% {
        -webkit-transform: translate(0px, 4px) rotate(-0.5deg);
        transform: translate(0px, 4px) rotate(-0.5deg);
    }
    4% {
        -webkit-transform: translate(-3px, 9px) rotate(-0.5deg);
        transform: translate(-3px, 9px) rotate(-0.5deg);
    }
    6% {
        -webkit-transform: translate(4px, 10px) rotate(-0.5deg);
        transform: translate(4px, 10px) rotate(-0.5deg);
    }
    8% {
        -webkit-transform: translate(0px, -2px) rotate(0.5deg);
        transform: translate(0px, -2px) rotate(0.5deg);
    }
    10% {
        -webkit-transform: translate(9px, -9px) rotate(1.5deg);
        transform: translate(9px, -9px) rotate(1.5deg);
    }
    12% {
        -webkit-transform: translate(-9px, 9px) rotate(1.5deg);
        transform: translate(-9px, 9px) rotate(1.5deg);
    }
    14% {
        -webkit-transform: translate(10px, -1px) rotate(-0.5deg);
        transform: translate(10px, -1px) rotate(-0.5deg);
    }
    16% {
        -webkit-transform: translate(7px, -1px) rotate(0.5deg);
        transform: translate(7px, -1px) rotate(0.5deg);
    }
    18% {
        -webkit-transform: translate(-8px, 8px) rotate(1.5deg);
        transform: translate(-8px, 8px) rotate(1.5deg);
    }
    20% {
        -webkit-transform: translate(1px, -9px) rotate(0.5deg);
        transform: translate(1px, -9px) rotate(0.5deg);
    }
    22% {
        -webkit-transform: translate(7px, -6px) rotate(0.5deg);
        transform: translate(7px, -6px) rotate(0.5deg);
    }
    24% {
        -webkit-transform: translate(-8px, -4px) rotate(-1.5deg);
        transform: translate(-8px, -4px) rotate(-1.5deg);
    }
    26% {
        -webkit-transform: translate(-9px, 5px) rotate(-1.5deg);
        transform: translate(-9px, 5px) rotate(-1.5deg);
    }
    28% {
        -webkit-transform: translate(7px, 3px) rotate(-1.5deg);
        transform: translate(7px, 3px) rotate(-1.5deg);
    }
    30% {
        -webkit-transform: translate(9px, 3px) rotate(2.5deg);
        transform: translate(9px, 3px) rotate(2.5deg);
    }
    32% {
        -webkit-transform: translate(2px, -6px) rotate(-1.5deg);
        transform: translate(2px, -6px) rotate(-1.5deg);
    }
    34% {
        -webkit-transform: translate(10px, -7px) rotate(2.5deg);
        transform: translate(10px, -7px) rotate(2.5deg);
    }
    36% {
        -webkit-transform: translate(-2px, 10px) rotate(-2.5deg);
        transform: translate(-2px, 10px) rotate(-2.5deg);
    }
    38% {
        -webkit-transform: translate(-6px, -8px) rotate(-1.5deg);
        transform: translate(-6px, -8px) rotate(-1.5deg);
    }
    40% {
        -webkit-transform: translate(1px, 0px) rotate(-2.5deg);
        transform: translate(1px, 0px) rotate(-2.5deg);
    }
    42% {
        -webkit-transform: translate(10px, 8px) rotate(3.5deg);
        transform: translate(10px, 8px) rotate(3.5deg);
    }
    44% {
        -webkit-transform: translate(4px, 2px) rotate(2.5deg);
        transform: translate(4px, 2px) rotate(2.5deg);
    }
    46% {
        -webkit-transform: translate(10px, -2px) rotate(-1.5deg);
        transform: translate(10px, -2px) rotate(-1.5deg);
    }
    48% {
        -webkit-transform: translate(10px, 0px) rotate(-2.5deg);
        transform: translate(10px, 0px) rotate(-2.5deg);
    }
    50% {
        -webkit-transform: translate(-2px, 5px) rotate(-0.5deg);
        transform: translate(-2px, 5px) rotate(-0.5deg);
    }
    52% {
        -webkit-transform: translate(4px, 1px) rotate(3.5deg);
        transform: translate(4px, 1px) rotate(3.5deg);
    }
    54% {
        -webkit-transform: translate(-8px, -5px) rotate(2.5deg);
        transform: translate(-8px, -5px) rotate(2.5deg);
    }
    56% {
        -webkit-transform: translate(8px, -8px) rotate(2.5deg);
        transform: translate(8px, -8px) rotate(2.5deg);
    }
    58% {
        -webkit-transform: translate(-3px, -6px) rotate(1.5deg);
        transform: translate(-3px, -6px) rotate(1.5deg);
    }
    60% {
        -webkit-transform: translate(-3px, -5px) rotate(0.5deg);
        transform: translate(-3px, -5px) rotate(0.5deg);
    }
    62% {
        -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
        transform: translate(-1px, 0px) rotate(-0.5deg);
    }
    64% {
        -webkit-transform: translate(2px, 10px) rotate(3.5deg);
        transform: translate(2px, 10px) rotate(3.5deg);
    }
    66% {
        -webkit-transform: translate(-4px, -1px) rotate(-0.5deg);
        transform: translate(-4px, -1px) rotate(-0.5deg);
    }
    68% {
        -webkit-transform: translate(8px, -5px) rotate(1.5deg);
        transform: translate(8px, -5px) rotate(1.5deg);
    }
    70% {
        -webkit-transform: translate(-3px, 2px) rotate(-1.5deg);
        transform: translate(-3px, 2px) rotate(-1.5deg);
    }
    72% {
        -webkit-transform: translate(9px, -3px) rotate(-0.5deg);
        transform: translate(9px, -3px) rotate(-0.5deg);
    }
    74% {
        -webkit-transform: translate(-2px, 6px) rotate(1.5deg);
        transform: translate(-2px, 6px) rotate(1.5deg);
    }
    76% {
        -webkit-transform: translate(-7px, -8px) rotate(-1.5deg);
        transform: translate(-7px, -8px) rotate(-1.5deg);
    }
    78% {
        -webkit-transform: translate(7px, -4px) rotate(0.5deg);
        transform: translate(7px, -4px) rotate(0.5deg);
    }
    80% {
        -webkit-transform: translate(-4px, -5px) rotate(-1.5deg);
        transform: translate(-4px, -5px) rotate(-1.5deg);
    }
    82% {
        -webkit-transform: translate(8px, 6px) rotate(3.5deg);
        transform: translate(8px, 6px) rotate(3.5deg);
    }
    84% {
        -webkit-transform: translate(0px, -7px) rotate(-1.5deg);
        transform: translate(0px, -7px) rotate(-1.5deg);
    }
    86% {
        -webkit-transform: translate(0px, 1px) rotate(3.5deg);
        transform: translate(0px, 1px) rotate(3.5deg);
    }
    88% {
        -webkit-transform: translate(-6px, -3px) rotate(2.5deg);
        transform: translate(-6px, -3px) rotate(2.5deg);
    }
    90% {
        -webkit-transform: translate(1px, 3px) rotate(-0.5deg);
        transform: translate(1px, 3px) rotate(-0.5deg);
    }
    92% {
        -webkit-transform: translate(-9px, -4px) rotate(-2.5deg);
        transform: translate(-9px, -4px) rotate(-2.5deg);
    }
    94% {
        -webkit-transform: translate(-7px, -6px) rotate(2.5deg);
        transform: translate(-7px, -6px) rotate(2.5deg);
    }
    96% {
        -webkit-transform: translate(5px, -3px) rotate(-1.5deg);
        transform: translate(5px, -3px) rotate(-1.5deg);
    }
    98% {
        -webkit-transform: translate(8px, 4px) rotate(0.5deg);
        transform: translate(8px, 4px) rotate(0.5deg);
    }
    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0deg);
        transform: translate(0, 0) rotate(0deg);
    }
}


